In [1]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
df = pd.read_csv('data/raw/raw_data.csv')

In [4]:
df.head()

,Age,Bp,Sg,Al,Su,Rbc,Pc,Pcc,Ba,Bgr,...,Pcv,Wbcc,Rbcc,Htn,Dm,Cad,Appet,pe,Ane,Class
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [5]:
df.shape

(400, 25)

In [6]:
df.columns

Index(['Age', 'Bp', 'Sg', 'Al', 'Su', 'Rbc', 'Pc', 'Pcc', 'Ba', 'Bgr', 'Bu',
       'Sc', 'Sod', 'Pot', 'Hemo', 'Pcv', 'Wbcc', 'Rbcc', 'Htn', 'Dm', 'Cad',
       'Appet', 'pe', 'Ane', 'Class'],
      dtype='object')

In [7]:
imp_cols = ['Bp', 'Sg', 'Al', 'Su', 'Rbc', 'Bu', 'Sc', 'Sod', 'Pot', 'Hemo', 'Wbcc','Rbcc', 'Htn', 'Class']

In [8]:
data = df[imp_cols]

In [9]:
data.head()

   Bp     Sg Al Su     Rbc  Bu   Sc  Sod  Pot  Hemo  Wbcc Rbcc  Htn Class
0  80   1.02  1  0       ?  36  1.2    ?    ?  15.4  7800  5.2  yes   ckd
1  50   1.02  4  0       ?  18  0.8    ?    ?  11.3  6000    ?   no   ckd
2  80   1.01  2  3  normal  53  1.8    ?    ?   9.6  7500    ?   no   ckd
3  70  1.005  4  0  normal  56  3.8  111  2.5  11.2  6700  3.9  yes   ckd
4  80   1.01  2  0  normal  26  1.4    ?    ?  11.6  7300  4.6   no   ckd

In [10]:
### checked for duplicated rows
data.duplicated().sum()

0

In [11]:
cat_cols = ['Rbc','Htn','Class']
num_cols = ['Bp', 'Sg', 'Al', 'Su', 'Bu', 'Sc', 'Sod', 'Pot', 'Hemo', 'Wbcc','Rbcc']

In [12]:
data = data.replace('?',np.nan)

In [13]:
data[cat_cols] = data[cat_cols].fillna(data[cat_cols].mode().iloc[0])
data[num_cols] = data[num_cols].fillna(data[num_cols].median().iloc[0])

In [14]:
data.head()

   Bp     Sg Al Su     Rbc  Bu   Sc   Sod   Pot  Hemo  Wbcc  Rbcc  Htn Class
0  80   1.02  1  0  normal  36  1.2  80.0  80.0  15.4  7800   5.2  yes   ckd
1  50   1.02  4  0  normal  18  0.8  80.0  80.0  11.3  6000  80.0   no   ckd
2  80   1.01  2  3  normal  53  1.8  80.0  80.0   9.6  7500  80.0   no   ckd
3  70  1.005  4  0  normal  56  3.8   111   2.5  11.2  6700   3.9  yes   ckd
4  80   1.01  2  0  normal  26  1.4  80.0  80.0  11.6  7300   4.6   no   ckd

In [15]:
data.shape

(400, 14)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bp      400 non-null    object
 1   Sg      400 non-null    object
 2   Al      400 non-null    object
 3   Su      400 non-null    object
 4   Rbc     400 non-null    object
 5   Bu      400 non-null    object
 6   Sc      400 non-null    object
 7   Sod     400 non-null    object
 8   Pot     400 non-null    object
 9   Hemo    400 non-null    object
 10  Wbcc    400 non-null    object
 11  Rbcc    400 non-null    object
 12  Htn     400 non-null    object
 13  Class   400 non-null    object
dtypes: object(14)
memory usage: 43.9+ KB

In [17]:
data['Rbc'].replace(['normal', 'abnormal'], [1, 0], inplace=True)
data['Htn'].replace(['yes', 'no'], [1, 0], inplace=True)
data['Class'].replace(['ckd', 'notckd'], [1, 0], inplace=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bp      400 non-null    object
 1   Sg      400 non-null    object
 2   Al      400 non-null    object
 3   Su      400 non-null    object
 4   Rbc     400 non-null    int64
 5   Bu      400 non-null    object
 6   Sc      400 non-null    object
 7   Sod     400 non-null    object
 8   Pot     400 non-null    object
 9   Hemo    400 non-null    object
 10  Wbcc    400 non-null    object
 11  Rbcc    400 non-null    object
 12  Htn     400 non-null    int64
 13  Class   400 non-null    int64
dtypes: int64(3), object(11)
memory usage: 43.9+ KB

In [19]:
data.Al.value_counts()

Al
0       199
80.0     46
1        44
2        43
3        43
4        24
5         1
Name: count, dtype: int64

In [20]:
data = data.apply(pd.to_numeric)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bp      400 non-null    float64
 1   Sg      400 non-null    float64
 2   Al      400 non-null    float64
 3   Su      400 non-null    float64
 4   Rbc     400 non-null    int64
 5   Bu      400 non-null    float64
 6   Sc      400 non-null    float64
 7   Sod     400 non-null    float64
 8   Pot     400 non-null    float64
 9   Hemo    400 non-null    float64
 10  Wbcc    400 non-null    float64
 11  Rbcc    400 non-null    float64
 12  Htn     400 non-null    int64
 13  Class   400 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 43.9 KB

In [22]:
data.to_csv('final_data.csv')

In [23]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [24]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\indra\onedrive\desktop\ineuron\chronic_kidney_diseases_prediction\venv\lib\site-packages (0.0.post7)
Note: you may need to restart the kernel to use updated packages.