In [2]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
#read csv files
path = "../"
file = 'final_data.csv'
total_path = path + file
df = pd.read_csv(total_path)
df.head()

,Unnamed: 0,Bp,Sg,Al,Su,Rbc,Bu,Sc,Sod,Pot,Hemo,Wbcc,Rbcc,Htn,Class
0,0,80.0,1.020,1.0,0.0,1,36.0,1.2,80.0,80.0,15.4,7800.0,5.2,1,0
1,1,50.0,1.020,4.0,0.0,1,18.0,0.8,80.0,80.0,11.3,6000.0,80.0,0,0
2,2,80.0,1.010,2.0,3.0,1,53.0,1.8,80.0,80.0,9.6,7500.0,80.0,0,0
3,3,70.0,1.005,4.0,0.0,1,56.0,3.8,111.0,2.5,11.2,6700.0,3.9,1,0
4,4,80.0,1.010,2.0,0.0,1,26.0,1.4,80.0,80.0,11.6,7300.0,4.6,0,0